<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}UK8S{% endblock %}</title>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>
    <link href="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet">
</head>

<body>
    <div class="ui vertical inverted segment" style="height: 10%">
        {% block menu %}
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="active item" href="/">首页</a>
                <a class="item" href="/registry">镜像仓库</a>
                <a class="item" href="https://robinle.github.com">博客</a>
            </div>
        </div>
        {% endblock %}
    </div>

    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>

</html>