{% extends "base.html" %} 

{% block menu %}
<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">首页</a>
        <a class="item" href="/registry">镜像仓库</a>
        <a class="active item" href="/deploy">部署K8S</a>
        <a class="item" href="https://robinle.github.com">博客</a>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="ui vertical inverted center aligned segment" style="padding-top:5%;padding-bottom:15%">
    <div class="ui container" align="center">

        <h1 class="ui inverted header">
            部署kubernetes
        </h1>

        <h4 class="ui horizontal divider header inverted" style="padding-top:5%">
            <i class="tag icon"></i> 部署脚本 
        </h4>
        <p> 提供一个自动化部署kubernetes的脚本，仅供学习交流使用，复制并执行一键部署 </p>
        <div class="ui pointing blue basic label">
            <code>wget https://uk8s.com/setup_k8s.sh & sudo bash setup_k8s.sh</code>
        </div>
        

        <h4 class="ui horizontal divider header inverted" style="padding-top:5%">
            <i class="bar chart icon"></i> 硬件配置 
        </h4>
        <table class="ui small table center aligned" style="width: 45%;">
            <tbody>
                <tr class="positive">
                    <td>系统环境</td>
                    <td>Linux-amd64</td>
                    <td><i class="large green checkmark icon"></i></td>
                </tr>
                <tr class="positive">
                    <td>硬件配置</td>
                    <td>2Core & 2GB</td>
                    <td><i class="large green checkmark icon"></i></td>
                </tr>
                <tr class="negative">
                    <td>部署环境</td>
                    <td>Production</td>
                    <td><i class="large red remove icon"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 

{% block footer %}
{% include "footer.html" %}
{% endblock %}