<div class="ui inverted vertical footer segment" style="height: 10%">
    <div class="ui container">
        <div class="ui grid">
            <div class="three column row">
                <div class="column">
                    <button class="ui small circular grey github alternate icon button" onclick="window.location.href='https://github.com/RobinLe'">
                        <i class="github alternate icon"></i>
                    </button>
                    <button class="ui small circular red weibo icon button" onclick="window.location.href='http://weibo.com/peanut2016'">
                        <i class="weibo icon"></i>
                    </button>
                </div>
                <div class="column center floated center aligned">
                    <i class="copyright icon"></i>2017 All rights reserved.
                </div>
                <div class="column left floated right aligned ">
                    <a class="ui small teal tag label">Contact me: miaomiao3312763@qq.com</a>
                </div>
            </div>
        </div>
    </div>
</div>