{% extends "base.html" %} 

{% block menu %}
<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">首页</a>
        <a class="active item" href="/registry">镜像仓库</a>
        <a class="item" href="https://robinle.github.com">博客</a>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="ui vertical container segment">
    <div class="ui four column divided grid">
        <div class="row">
            <div class="column three wide">
                <a class="header" href="">镜像ID</a>
            </div>
            <div class="column two wide">
                <a class="header" href="">Tags</a>
            </div>
            <div class="column three wide">
                <a class="header" href="">虚拟大小</a>
            </div>
            <div class="column eight wide">
                <a class="header" href="">拉取指令</a>
            </div>
        </div>
        {% for image in images %}
        <div class="row">
            <div class="column three wide">
                <i class="qrcode icon"></i>
                <a class="header" href="/registry/">{{ image.id }}</a>
            </div>
            <div class="column two wide">
                <a class="ui small label">{{ image.tag }}</a>
            </div>
            <div class="column three wide">
                <a class="ui small label">
                    <i class="file icon"></i> {{ image.size }} MB
                </a>
            </div>
            <div class="column eight wide">
                <a class="header" href="">{{ image.cmd }}</a>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}