{% extends "base.html" %} 

{% block content %}
<div class="ui vertical inverted center aligned segment" style="padding-top:15%;padding-bottom:21%">
    <div class="ui text container">
        <h1 class="ui inverted header">
            kubernetes 资源分享
        </h1>
        <h2>kubernetes 官方镜像 gcr.io/quay.io mirror</h2>
        <button class="ui huge primary button" onclick="window.location.href='/registry'">
                Get Started
                <i class="right arrow icon"></i>
            </button>
    </div>
</div>
{% endblock %} 

{% block footer %}
{% include "footer.html" %}
{% endblock %}